* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Source Sans Pro';
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    /* max-width: 100%; */
    width: 100vw;
}

:root {
    --bg-color-primary: #f8f9fd;
    --bg-color-secondary: #06255b;
    --accent-color-primary: #FF7C40;
    --accent-color-secondaty: #DA5D24;

}

a {
    text-decoration: none;
    color: white;
    /* Высота между строками */
    letter-spacing: 0.5; 
}


body {
    background-color: #f8f9fd;
}

header {
    height: 91.5vh;
    padding-top: 30px;

    display: grid;
    grid: 90px 1fr / 1fr;

    background: 
    linear-gradient(90deg, var(--bg-color-secondary) 0%, transparent 50%),
    linear-gradient(180deg, var(--bg-color-secondary) 0%, transparent 50%),
    url("img/aerial-view-cement-factory.png") 0px 0px / cover  no-repeat;
    color: #FFFFFF;
}


.header-line {
    display: grid;
    width: 100%;
    grid: 90px / minmax(270px, 430px) 2.1fr minmax(270px, 630px) 3fr minmax(310px, 330px);
    align-items: center;
    justify-items: center;

}

.header-line-logo {
    align-self: self-start;
    padding-top: 5px;
}

.header-menu{
    display: grid;
    grid-column: 3 / 4;
    grid: 1fr / repeat(6, auto);
    gap: 32px;
    width: 100%;
}


.header-menu a{
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: center;    
    color: #FFFFFF;
}

.header-contact {
    display: grid;
    grid-column: 5 / 6;
    grid: 1fr / 1fr 1fr;
}

.header-contact button{
    background-color: var(--accent-color-secondaty);
    color: #FFFFFF;

    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: 0.3px;

    border: none;
    width: 143px;
    height: 56px;
}

.header-language{

    display: grid;
    grid: 1fr / repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: 170px;

    padding-left: 5px;
    padding-right: 10px;
    background: #FFFFFF fixed;
    color: black;
}

.header-language a {
    color: var(--bg-color-secondary);
    opacity: 40%;
}

.selected-language a {
    opacity: 100%;
    text-decoration: underline;
}

.header-language a img {
    padding-right: 8px;
}

.header-banner {
    position: relative;
    display: grid;
    grid: 14vh 36.2vh 1fr / 0.22fr 1.0fr 1.1fr;
}

.header-banner-card {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid:  minmax(140px, 0.5fr) auto auto 1fr /  1fr;
}

.header-banner-title {
    font-size: 4rem;
    font-weight: 400;
    line-height: 70.4px;
    text-align: left;
    letter-spacing: -1.3px;
}

.header-banner p{
    grid-row-start: 3;
    grid-row: auto;
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    align-self: top;
}

#parag1 {
    padding-top: 27px;
    width: 90%;
}

#parag2 {
    padding-top: 27px;
    width: 65%;
}

.header-banner-about-contact {
    display: grid;
    grid: auto / auto auto 1fr;
    gap: 16px;
    align-content: end;
}

.header-banner-about-contact * {
    font-size: 0.98375rem;
    line-height: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.3;
    height: 51px;
}

.header-banner-about-contact #btn-serve {
    background: rgba(6, 37, 91, 0.6);
    color: #FFFFFF;
    border: var(--bg-color-primary ) solid 2px;
    width: 194px;
}

.header-banner-about-contact #btn-contact-us {
    color: var(--bg-color-secondary);
    width: 133px;
}

.bold-text{
    font-weight: 700;
    letter-spacing: 0.3px;
}

.header-banner-decorations {
    position: relative;
    grid-column: 3;
    grid-row: 1/4;
    transform: rotate(-45deg);
}

.header-banner-decorations * {
    position: absolute;
}

.header-banner-decorations p{
    display: grid;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100%;
    
    font-size: 22px;
    font-weight: 900;
    line-height: 18.7px;
    
    transform: rotate(45deg);
}

.header-banner-decor-left {
    position: relative;
    height: 135px;
    width: 135px;
    left: 29.5%;
    top: 19.7%;
}

.header-banner-decor-left .decor-background-contour {
    top: -10%;
    left: -10%;
    height: 90%;
    width: 90%;
    opacity: 90%;
    border: #FF7C40 solid 1px;
}
.header-banner-decor-left .decor-foreground-contour {
    background-color: rgba(6, 37, 91, 0.8);
    border: rgba(6, 37, 91, 1) solid 9px;
    top: 0%;
    height: 100%;
    width: 100%;
}

.header-banner-decor-top {
    position: relative;
    height: 161px;
    width: 161px;
    top:4.8%;
    left:59.8%;
}

.header-banner-decor-top .decor-background-contour {
    border: #FFFFFF solid 1px;
    height: 95%;
    width: 95%;
    top: -10%;
    left: 15%;
}

.header-banner-decor-top .decor-foreground-contour {
    background-color: rgba(6, 37, 91, 0.8);
    height: 100%;
    width: 100%;
    border: #FFFFFF solid 8px;

}

.header-banner-decor-bottom {
    position: relative;
    height: 186px;
    width: 186px;
    top: 11.5%;
    left: 30%
}
.header-banner-decor-bottom {
    letter-spacing: 0.1rem;
}

.header-banner-decor-bottom .decor-background-contour {
    border: #FFFFFF solid 1px;
    height: 95%;
    width: 95%;
    top: 12.1%;
    left: -9%;
}

.header-banner-decor-bottom .decor-foreground-contour {
    background-color: rgba(6, 37, 91, 0.8);
    height: 100%;
    width: 100%;
    border: #DA5D24 solid 8px;
}

.header-banner-decor-right {
    position: absolute;
    height: 500px;
    width: 500px;
    left: 65%;
    top: 52%;
}

/* section services */

.section-services {
    position: relative;
    height: 120vh;
}

.section-services-bg-decorations {
    position: relative;
    width: 100%;
    height: 0%;
}

.section-services-bg-decorations #section-services-dark-rect {
    position: absolute;
    background: #06255b;
    height: 101.2vh;
    width: 100vw
}

.section-services-bg-decorations #section-services-bg-rect-1 {
    position: absolute;
    width: 141vw;
    height: 141vw;
    rotate: -45deg;
    translate: 20.6% -3.5%;
    background: rgba(255, 255, 255, 1);
}

.section-services-bg-decorations #section-services-bg-rect-2 {
    position: absolute;
    background: rgba(247, 249, 252, 1);
    top: 2.6%;
    left: 68.3%;
    width: 40vw;
    height: 40vw;
}

.setcion-services-bg-top-rectangles {
    position: absolute;
    top: -7%;
    left: 89.5%;

    height: 20%;
    width: 20%
}

.setcion-services-bg-top-rectangles * {
    position: absolute;
    height: 100%;
    width: 100%;
}

.setcion-services-bg-top-rectangles #background-contour-1 {
    border: #DA5D24 solid 1px;
    top: -3%;
    left: 4%;
}

.setcion-services-bg-top-rectangles #background-contour-2 {
    position: absolute;
    border: #FFFFFF solid 1px;
    top: 4%;
    left: -4%
}

.setcion-services-bg-top-rectangles #fg-contour {
    background-color: rgba(218, 93, 36, 0.8);
}

.section-services-about {
    position: relative;
    left: 16.6%;
    top: 9.3%;
    width: 22%;
}

.section-services-about h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.section-services-about p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding-top: 6%;
}

.section-services-grid {
    position: absolute;
    display: grid;
    grid: repeat(3, 1fr) / repeat(4, 1fr); 
    row-gap: 6%;
    column-gap: 3.4%;
    rotate: -45deg;
    top: 11%;
    left: 15.7%;
}

.section-services-grid-item:nth-child(n+2) {
    grid-row: 2;
}

.section-services-grid-item:nth-child(n+6){
    
    grid-row: 3;
    grid-column: 3;
}

.section-services-grid .section-services-grid-item {
    display: grid;
    width: 260px;
    height: 260px;
    background: #FFFFFF;
    border: #06255b solid 1px;

}
.section-services-grid .container {
    align-content: center;
    rotate: 45deg;
}

.section-services-grid p {
    position: absolute;
    top: 50%;
    left: 50%;    
    translate: -50% -50%;
    width: 200px;
    text-wrap: wrap;
    text-align: center;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.125rem;
    letter-spacing: 0.8px;
    color: rgba(49, 49, 49, 1);
}

.section-services-grid-item img {
    display: block;
    align-self: center;
    justify-self: center;
    position: absolute;
    translate: -50% -50%;
    top: 65%;
    left: 50%;
}

.section-services #section-services-bg-formule-1 {
    position: absolute;
    mix-blend-mode: darken;
    rotate: 45deg;
    left: 15%;
    top: 22%;
}

.section-services #section-services-bg-formule-2 {
    position: absolute;
    mix-blend-mode: darken;
    rotate: 45deg;
    left: 5.3%;
    top: 6.9%;
}

.section-services #section-services-bg-image {
    position: absolute;
    width: 42%;
    bottom: 8.9%;
    right: 9.6%;
}

.section-services .section-services-scroll {
    display: grid;
    grid: 1fr 1.4fr / 1fr;

    align-items: center;
    justify-items: center;

    position: absolute;

    translate: -50%;
    bottom: 3.7%;
    left: 50%;
}

.section-services .section-services-scroll p {
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.4px;
    width: 55%;
    color: rgba(83, 86, 90, 1);
}